.Navbar {
   width: 100%;
   margin-bottom: 3em;
   padding-bottom: 1em;
   font-family: "Italic";
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.Navbar .tituloApp{
   padding: 0.1em 0;
   margin: 0;
   background: #d2010d;
   font-family: "Italic";
}

.Navbar .tituloApp h1{
   font-size: 1.5em;
   color: #fff;
}

.Navbar .SeccionesApp {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.Navbar .SeccionesApp h2{
   font-size: 1.2em;
   color: #8F1F1D;
}

.Navbar .SeccionesApp a {
   margin-bottom: 1px;
   padding: 0.2em 1em;
   font-size: 1.1em;
   text-decoration: none;
   color: #424242;
   border-bottom: 3px solid #fff;
   transition: 0.2s;
}

.Navbar a:hover {
   color: #009CA6;
   border-bottom: 3px solid #009CA6;
}

.Navbar a.active {
   color: #009CA6;
   border-bottom: 3px solid #009CA6;
}

@media only screen and (max-width: 480px) {
   .Navbar .tituloApp h1{
      font-size: 1.1em;
      color: #fff;
   }

   .Navbar .SeccionesApp a {
      font-size: 0.8em;
   }
}

@media only screen and (max-width: 770px) and (orientation: landscape) {
   .Navbar .tituloApp h1{
      font-size: 1.3em;
      color: #fff;
   }

   .Navbar .SeccionesApp h2{
      font-size: 1em;
      color: #8F1F1D;
   }

   .Navbar .SeccionesApp a {
      font-size: 0.9em;
   }
 }